@import "../../../../assets/styles/constants/colors";

$toggle-border-width: 5px;
$collapsible-max-height: 350px;

.lbl-toggle {
  display: block;
  color: rgba($black-color, $opacity-md);
  cursor: pointer;
  transition: color 0.2s ease;
}

.lbl-toggle:hover {
  color: $indigo-300-color;
}

.lbl-toggle::before {
  content: " ";
  display: inline-block;
  border-top: $toggle-border-width solid transparent;
  border-bottom: $toggle-border-width solid transparent;
  border-left: $toggle-border-width solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);
  transition: transform 0.4s ease;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: $collapsible-max-height;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
