@import "../../../../assets/styles/constants/colors";

$toggle-border-width: 5px;
$collapsible-max-height: 350px;
$toggle-text-color: rgba($black-color, $opacity-md);

.lbl-toggle {
  color: $toggle-text-color;
  cursor: pointer;
  display: block;
  transition: color 0.2s ease;

  &:hover {
    color: $indigo-300-color;
  }

  &::before {
    border-bottom: $toggle-border-width solid transparent;
    border-left: $toggle-border-width solid currentColor;
    border-top: $toggle-border-width solid transparent;
    content: " ";
    display: inline-block;
    margin-right: 0.7rem;
    transform: translateY(-2px);
    transition: transform 0.4s ease;
    vertical-align: middle;
  }
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.toggle {
  &:checked + .lbl-toggle {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &::before {
      transform: rotate(90deg) translateX(-3px);
    }
  }

  &:checked + .lbl-toggle + .collapsible-content {
    max-height: $collapsible-max-height;
  }
}
