@import "../../assets/styles/constants/colors";

.no-records {
  background: $white-color;
  color: rgba($black-color, $opacity-md);
  height: 100px;
}

.product-row {
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover,
  &.selected {
    background-color: rgba($indigo-300-color, $opacity-sm);
  }
}
