@import "../../assets/styles/constants/colors";

$no-records-text-color: rgba($black-color, $opacity-md);
$row-text-selected-color: rgba($indigo-300-color, $opacity-sm);

.no-records {
  background: $white-color;
  color: $no-records-text-color;
  height: 100px;
}

.product-row {
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover,
  &.selected {
    background-color: $row-text-selected-color;
  }
}
