<mat-card class="mb-2">

  <div class="row">

    <div class="col-6 d-flex align-items-center">
      Total: {{ total$ | async }} items
    </div>

    <div class="col-6">

      <mat-form-field class="w-100">
        <input matInput
               type="text"
               placeholder="Search"
               [formControl]="searchFormControl">
      </mat-form-field>

    </div>

  </div>

  <div class="row">

    <div class="col-6">
      <mat-form-field class="w-100">
        <input matInput
               type="number"
               placeholder="Max price"
               [formControl]="priceFormControl">
      </mat-form-field>
    </div>

    <div class="col-6">
      <mat-form-field class="w-100">
        <input matInput [matDatepicker]="picker" placeholder="Delivery date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

  </div>

</mat-card>
